<p id="notice"><%= notice %></p>

<p>
  <strong>Razon social:</strong>
  <%= @empresa.razon_social %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empresa.direccion %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @empresa.responsable %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @empresa.pais %>
</p>

<hr>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
